In [1]:
import pandas as pd
import requests

PART 1

In [2]:
#get text from webpage
html=requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

#create dataframe with index
df = pd.read_html(html, header = 0)[0]
#ignore cells where Borough is not assigned
df = df[df.Borough != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [3]:
#create table joining multiple neighbourhoods
table1 = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()
#use Borough for Neighbourhoods that are not assigned
for index, row in df.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']
table1.columns=['Postal Code', 'Borough','Neighborhood']
table1.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [4]:
#determine number of rows and columns 
table1.shape

(103, 3)

PART 2

In [5]:
#get latitude and longitude for each postal code
angles=pd.read_csv('http://cocl.us/Geospatial_data')
angles.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
#add latitude and longiture to previous table
table2=pd.merge(table1,angles,on="Postal Code")
table2.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

PART 3

In [ ]:
print('There are {} boroughs and {} neighborhoods in Toranto.'.format(
        len(result['Borough'].unique()),
        result.shape[0]))